## Imports

In [77]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from ISLP import load_data

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Data

In [78]:
data = load_data("Default")

data

     default student    balance      income
0         No      No  729.52650 44361.62507
1         No     Yes  817.18041 12106.13470
2         No      No 1073.54916 31767.13895
3         No      No  529.25060 35704.49394
4         No      No  785.65588 38463.49588
...      ...     ...        ...         ...
9995      No      No  711.55502 52992.37891
9996      No      No  757.96292 19660.72177
9997      No      No  845.41199 58636.15698
9998      No      No 1569.00905 36669.11236
9999      No     Yes  200.92218 16862.95232

[10000 rows x 4 columns]

In [79]:
x = (data[['income', 'balance']].values)
y = np.array(([1 if d == 'Yes' else 0 for d in data['default']]))

# Model Test - validation aaproach

In [80]:
def test_logistic(x,y,seed):
    x_train, x_test = train_test_split(x, test_size=0.2, random_state=seed)
    y_train, y_test = train_test_split(y, test_size=0.2, random_state=seed)

    model = LogisticRegression()
    model.fit(x_train, y_train)

    preds = model.predict(x_test)
    return accuracy_score(y_test, preds)

In [81]:
for i in [1,42,123]:
    print(f"for ssed={i}, accuracy is {test_logistic(x,y,i)}")

for ssed=1, accuracy is 0.973
for ssed=42, accuracy is 0.9695
for ssed=123, accuracy is 0.9745

## Model with student validation approach test

In [83]:
x = data[['income', 'balance', 'student']].values
x = [[xi[0], xi[1], 1] if xi[2] == "Yes" else [xi[0], xi[1], 0] for xi in x]

for i in [1,42,123]:
    print(f"for ssed={i}, accuracy is {test_logistic(x,y,i)}")

for ssed=1, accuracy is 0.974
for ssed=42, accuracy is 0.9695
for ssed=123, accuracy is 0.9735