## Imports

In [8]:
import os
import pickle

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# Data

In [3]:
data = pd.read_csv('new_Exam_Score_Prediction.csv')

y = data['exam_score']
X = data.drop('exam_score', axis=1)

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
x_train

,age,gender,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,facility_rating,exam_difficulty,diploma,group_study,self_study,online_videos,coaching,mixed
3207,20,1,6.48,82.6,0,8.4,0,0,2,0,0,0,0,0,1
1590,18,0,0.68,95.5,1,4.7,2,2,1,0,0,0,1,0,0
593,20,0,0.97,81.5,0,7.9,2,0,1,0,0,0,1,0,0
4707,20,1,7.70,70.4,1,9.7,2,0,2,0,1,0,0,0,0
8571,20,0,1.98,60.4,0,5.8,2,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,24,1,2.24,42.4,1,4.4,1,1,2,0,0,0,0,0,1
3264,24,0,0.86,95.8,1,5.8,0,0,0,0,0,0,1,0,0
9845,22,0,6.32,95.6,1,9.5,0,1,0,0,0,0,0,1,0
10799,22,1,7.71,84.1,1,7.9,2,1,2,0,0,1,0,0,0
2732,22,1,1.80,63.8,1,9.4,2,0,2,0,0,0,0,1,0

# Models

In [10]:
PATH = 'pipes'
pipe_names = os.listdir(PATH)[:-1] #Gitignore file to not pushing the models

pipes = {}

for name in pipe_names:
    with open(os.path.join(PATH, name), 'rb') as f:
        pipes[name.strip('.pth')] = pickle.load(f)

pipes

{'XSB.pkl': Pipeline(steps=[('scaler', StandardScaler()),
                 ('features_selector',
                  SelectKBest(k=14,
                              score_func=<function f_regression at 0x7f26ce1c0680>)),
                 ('regressor',
                  XGBRegressor(base_score=None, booster=None, callbacks=None,
                               colsample_bylevel=None, colsample_bynode=None,
                               colsample_bytree=0.5103824786422447, device=None,
                               early_stopping_rounds=None,
                               enable_categorical=False, e...
                               gamma=None, grow_policy=None,
                               importance_type=None,
                               interaction_constraints=None,
                               learning_rate=0.03796623227630468, max_bin=None,
                               max_cat_threshold=None, max_cat_to_onehot=None,
                               max_delta_step=None, max_depth=3, max_leaves=None,
                               min_child_weight=5, missing=nan,
                               monotone_constraints=None, multi_strategy=None,
                               n_estimators=273, n_jobs=None,
                               num_parallel_tree=None, ...))]),
 'Tree.pkl': Pipeline(steps=[('scaler', StandardScaler()),
                 ('features_selector',
                  SelectKBest(k=7,
                              score_func=<function f_regression at 0x7f26ce1c0680>)),
                 ('regressor',
                  DecisionTreeRegressor(ccp_alpha=0.15081812011247328,
                                        criterion='friedman_mse',
                                        min_samples_split=15))]),
 'SVR.pkl': sklearn.svm._classes.SVR,
 'Forest.pkl': Pipeline(steps=[('scaler', StandardScaler()),
                 ('features_selector',
                  SelectKBest(k=9,
                              score_func=<function f_regression at 0x7f26ce1c0680>)),
                 ('regressor',
                  SVR(C=60.38588799346899, epsilon=0.00014333376491360608,
                      gamma='auto', kernel='poly'))]),
 'Linear.pkl': Pipeline(steps=[('scaler', StandardScaler()),
                 ('features_selector',
                  SelectKBest(k=9,
                              score_func=<function f_regression at 0x7f26ce1c0680>)),
                 ('regressor', LinearRegression())])}