# Data

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from ISLP import load_data
from sklearn.model_selection import train_test_split

data = load_data('Wage')


X, y = data[['maritl', 'jobclass']], data[['wage']]

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

x_train

                maritl        jobclass
642        4. Divorced  2. Information
700   1. Never Married   1. Industrial
226   1. Never Married   1. Industrial
1697        2. Married  2. Information
1010        2. Married  2. Information
...                ...             ...
1638        2. Married  2. Information
1095        2. Married   1. Industrial
1130        2. Married  2. Information
1294        2. Married  2. Information
860   1. Never Married  2. Information

[2400 rows x 2 columns]

## Nominal Values to numbers