# Data

In [25]:
import openml
import pandas as pd
from sklearn.feature_selection import SelectKBest
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [26]:
dataset = openml.datasets.get_dataset(40498)
X, y, _, attribute_names = dataset.get_data(target=dataset.default_target_attribute)
y = y.astype(float)
data = pd.concat([X, y], axis=1)

data

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,Class
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,4.0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,4.0
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,4.0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,4.0
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,4.0
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,3.0
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,4.0
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,5.0
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,4.0

# Train test split

In [27]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

x_train

       V1    V2    V3     V4     V5    V6     V7       V8    V9   V10   V11
4665  7.3  0.17  0.36   8.20  0.028  44.0  111.0  0.99272  3.14  0.41  12.4
1943  6.3  0.25  0.44  11.60  0.041  48.0  195.0  0.99680  3.18  0.52   9.5
3399  5.6  0.32  0.33   7.40  0.037  25.0   95.0  0.99268  3.25  0.49  11.1
843   6.9  0.19  0.35   1.70  0.036  33.0  101.0  0.99315  3.21  0.54  10.8
2580  7.7  0.30  0.26  18.95  0.053  36.0  174.0  0.99976  3.20  0.50  10.4
...   ...   ...   ...    ...    ...   ...    ...      ...   ...   ...   ...
4426  6.2  0.21  0.52   6.50  0.047  28.0  123.0  0.99418  3.22  0.49   9.9
466   7.0  0.14  0.32   9.00  0.039  54.0  141.0  0.99560  3.22  0.43   9.4
3092  7.6  0.27  0.52   3.20  0.043  28.0  152.0  0.99129  3.02  0.53  11.4
3772  6.3  0.24  0.29  13.70  0.035  53.0  134.0  0.99567  3.17  0.38  10.6
860   8.1  0.27  0.35   1.70  0.030  38.0  103.0  0.99255  3.22  0.63  10.4

[3918 rows x 11 columns]

# Metric and train/optimize/judge function

In [29]:
import optuna
import time
import numpy as np
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error


def metric(y_hat, y_true,features_shape):
    n,p = features_shape[0], features_shape[1]
    r2 = r2_score(y_true, y_hat)
    socres = {
        "MAE": mean_absolute_error(y_true, y_hat),
        "MSE": mean_squared_error(y_true, y_hat),
        "RMSE": np.sqrt(mean_squared_error(y_true, y_hat)),
        "R2": r2,
        "Adjusted R2":  1 - (1 - r2) * (n - 1) / (n - p - 1)
    }

    df_score = pd.DataFrame(socres.items(), columns=["Metric","Value"])

    return df_score

def optimize_train_and_judge(model_class, objective_fn, trails=100):
    global x_train, y_train, x_test, y_test, names

    study = optuna.create_study(direction="maximize")

    start = time.time()
    study.optimize(objective_fn, n_trials=trails, show_progress_bar=True)
    stop = time.time()

    best_params = study.best_params.copy()

    pipe = Pipeline([('scaler', StandardScaler()), ('feature_selection', SelectKBest), ('model', model_class)])

    pipe.set_params(**best_params)

    pipe.fit(x_train, y_train)
    y_hat_train = pipe.predict(x_train)
    y_hat_test = pipe.predict(x_test)

    print(f"Time {stop - start}\n")
    df_test = metric(y_hat_test, y_test,x_test.shape[1])

    return pipe, df_test

metric(y_train, y_train,x_train.shape)

        Metric  Value
0          MAE    0.0
1          MSE    0.0
2         RMSE    0.0
3           R2    1.0
4  Adjusted R2    1.0