In [1]:
import pandas as pd

data = pd.read_csv('Data/cluster_train.csv')

data

,Unnamed: 0,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,cholesterol_total,family_history_diabetes,gender_Female,ethnicity_Asian,education_level_Graduate,income_level_Low,smoking_status_Current,employment_status_Employed
0,0,31,1,45,7.7,6.8,199,0,1,0,0,0,1,1
1,1,50,2,73,5.7,6.5,199,0,1,0,0,0,0,1
2,2,32,3,158,8.5,7.4,188,0,0,0,0,0,0,0
3,3,54,3,77,4.6,7.0,182,0,1,0,0,0,1,1
4,4,54,1,55,5.7,6.2,206,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,699995,29,1,59,6.9,5.2,163,0,1,0,0,0,0,1
699996,699996,46,2,72,7.7,7.7,188,0,1,0,1,0,0,1
699997,699997,35,1,50,5.6,6.1,168,0,1,0,1,0,0,1
699998,699998,49,2,70,5.7,6.9,198,0,1,0,0,0,0,0
699999,699999,42,4,56,4.2,7.0,191,0,1,0,1,1,0,1