In [35]:
import pandas as pd
from sklearn.metrics import roc_auc_score

train = pd.read_csv('Data/train_all_dummies.csv')
train.drop('Unnamed: 0', axis=1, inplace=True)
train_x, train_y  = train.drop('diagnosed_diabetes', axis=1), train['diagnosed_diabetes']

data_kaggle = pd.read_csv('Data/test_dummies.csv')
# data_kaggle.drop('id', axis=1, inplace=True)
data_kaggle.drop('Unnamed: 0', axis=1, inplace=True)

train_x

,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,diastolic_bp,...,income_level_Lower-Middle,income_level_Middle,income_level_Upper-Middle,smoking_status_Current,smoking_status_Former,smoking_status_Never,employment_status_Employed,employment_status_Retired,employment_status_Student,employment_status_Unemployed
0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,70,...,1,0,0,1,0,0,1,0,0,0
1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,77,...,0,0,1,0,0,1,1,0,0,0
2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,89,...,1,0,0,0,0,1,0,1,0,0
3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,69,...,1,0,0,1,0,0,1,0,0,0
4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,60,...,0,0,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,29,1,59,6.9,5.2,1.5,26.1,0.88,133,57,...,0,0,1,0,1,0,1,0,0,0
699996,46,2,72,7.7,7.7,3.8,25.5,0.85,106,85,...,0,0,1,0,1,0,1,0,0,0
699997,35,1,50,5.6,6.1,6.4,26.9,0.88,127,84,...,0,1,0,0,0,1,1,0,0,0
699998,49,2,70,5.7,6.9,4.7,25.2,0.86,116,67,...,1,0,0,0,0,1,0,1,0,0
699999,42,4,56,4.2,7.0,6.1,28.3,0.90,99,73,...,0,0,0,0,1,0,1,0,0,0

## Model

In [ ]:
import pickle

with open('models/minmax_RFE_Forest.pkl'):
    model = pickle.load(open('models/minmax_RFE_Forest.pkl', 'rb'))

model.fit(train_x, train_y)

# Output csv

In [ ]:
submission_name = "minmax_RFE_Forest_FULL_FIT.csv"
ids = data_kaggle["id"].astype(int)

data_kaggle.drop('id', axis=1, inplace=True)
probs = model.predict_proba(data_kaggle)[:, 1]
submission = pd.DataFrame({
    "id": ids,
    "diagnosed_diabetes": probs
})

submission

In [33]:
import os
PATH = os.path.join('results',submission_name)

submission.to_csv(PATH, index=False, float_format="%.6f")
submission.head()

       id  diagnosed_diabetes
0  700000            0.538098
1  700001            0.591922
2  700002            0.670851
3  700003            0.512559
4  700004            0.829368